# Categorical

In [1]:
import numpy as np 
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

## Pandas dummies

In [37]:
df1 = pd.DataFrame( { 'f1': ['C', 'B', 'A'],                        
                      'f2': ['A', 'A', 'B'],                        
                      't' : [1,    1,   0 ]  })

df2 = pd.DataFrame( { 'f1': ['A', 'A', 'B'], 
                      'f2': ['С', 'B', 'B']  })

display( pd.get_dummies(df1))
display( pd.get_dummies(df2))

   t  f1_A  f1_B  f1_C  f2_A  f2_B
0  1     0     0     1     1     0
1  1     0     1     0     1     0
2  0     1     0     0     0     1

   f1_A  f1_B  f2_B  f2_С
0     1     0     0     1
1     1     0     1     0
2     0     1     1     0

✅  Pandas сортирует категории по алфавиту. Это удобно и можно для одинаковых по смыслу фич использовать.<br>
✅  Однако, возникают проблемы, если, например, в тестовых данных нет какой нибудь категории.

## Onehot sklearn

In [39]:
from sklearn.preprocessing import OneHotEncoder

ohe= OneHotEncoder(handle_unknown='error', sparse=False)
ohe.fit(df1[['f1', 'f2']])

df1_f1 = pd.DataFrame( ohe.transform( df1[['f1', 'f2']] ), index=df1.index, columns=['f1_0', 'f1_1'])
df2_f1 = pd.DataFrame( ohe.transform( df2[['f1', 'f2']] ), index=df2.index, columns=['f1_0', 'f1_1'])

display(df1_f1)
display(df2_f1)

pd.concat([df1, df1_f1], axis='columns')

ValueError: Shape of passed values is (3, 5), indices imply (3, 2)